body{
    padding: 0;
    margin: 0;
    font-family: Cairo-Bold;
}
@font-face{
    font-family: Cairo-Bold;
    src: url(../fonts/Cairo-Bold.ttf);
}
.second{
    height: 30px;
    background-color: #00A859;
}
.second ul{
    list-style: none;
    position: absolute;
    top: 2px;
    right: 116px;
}
.second ul li{
    float:right;
    padding-right: 10px;
    color: white;
    line-height: 20px;
}
.second img{
    width: 20px;
    height: 20px;
    margin-left: 7px;
}
.second .im{
    margin-left: 180px;
}
.second .im2{
    margin-left: 10px;
}
.fa-facebook{
    transition: all 0.6 ease-in-out;
    opacity: 0.95;
}
.fa-facebook:hover{
    transform: scale(1.4);
    opacity: 1;
    background-color: #3b5998;
    border-radius: 50%;
}
.fa-twitter{
    transition: all 0.6 ease-in-out;
    opacity: 0.95;
}
.fa-twitter:hover{
    transform: scale(1.4);
    opacity: 1;
    background-color: #1da1f2;
    border-radius: 50%;
}
@media screen and (max-width: 990px) {
    .second  {
          display: none;
          
        }
 }

 .elnavbar{
    position: relative;
    z-index: 99999;
    background-color: black;
    width: 100%;
    
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.navbar-light .navbar-nav .nav-link{
    margin-left: 64px;
    font-size: 18px;
    font-weight: bold;
    
}
.bg-light{
    padding-left: 110px;
    background-color: white;
    height: 78px;
    width: 100%;
    z-index: 999;
}
nav img{
    height: 70px;
    margin-right: 110px;
}

.collapse .active a{

   border-bottom: 3px solid #00A859;
}
.collapse a:hover{
    border-bottom: 3px solid #00A859;
}


@media screen and (max-width:600px){
    nav img{
        text-align: right;
        margin-right: 3px;
        width: 180px;
    }
    .navbar-light .navbar-toggler{
        text-align: left;
        margin-left: -50px;
    }
    #navbarNavDropdown{
        background-color:rgba(2, 8, 2, 0.9);
        color: white;
        width: 100%;
        height: 600px;
    }
    .navbar-light .navbar-nav .nav-link {
        text-align: center;
        line-height: 40px;
        margin-top: 20px;
        margin-left: 0px;
        font-size: 18px;
        color:white;
    }
    .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
        color: #00A859;
    }
    .active{
        color: #00A859;
    }
    .navbar-light .navbar-nav .nav-link:hover{
        color: #00A859;
    }
}

@media screen and (min-width:601px) and (max-width:1199px){
    nav img{
        text-align: right;
        margin-right: 40px;
    }
    #navbarNavDropdown{
       background-color:rgba(2, 8, 2, 0.9);
       color: white;
       width: 100%;
       height: 600px;
   }
   .navbar-light .navbar-nav .nav-link {
       text-align: center;
       line-height: 40px;
       margin-top: 20px;
       margin-left: 0px;
       font-size: 18px;
       color:white;
   }
   .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
       color: #00A859;
   }
   .active{
       color: #00A859;
   }
   .navbar-light .navbar-nav .nav-link:hover{
       color: #00A859;
   }
}

@media screen and (min-width:1200px) and (max-width:1400px){
    .navbar-light .navbar-nav .nav-link {
        margin-left: 25px;
        font-size: 18px;
        font-weight: bold;
    }
    
}
.sahem{
    height: 257px;
    background-color: #F7FCFA;
}
.sahem p{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    padding-top:86px;
    color: #00A859;
}
.sahem3 p{
    text-align: center;
    font-size: 18px;
    color: #00A859;
    margin-bottom: 20px;
}
.sahem2{
    margin-top: 20px;
}
form{
    padding: 50px;
    border: 1px solid rgb(180, 216, 201);
    border-radius: 10px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
form input{
    text-align: right;
    border-radius: 15px;
    border: 1px solid rgb(180, 216, 201);
    height: 40px;
    margin-right: auto;
    margin-left: auto;
    /* margin-right: 20px; */
    margin-bottom:20px ;
    width: 247px;
    padding-right: 20px;
}
button:focus{
    
    outline: none !important;
}
input:focus{
    
    outline: none !important;
}
form ul{
    list-style-type: none;
    padding-right: 24px;
    padding-bottom: 40px;
    color: grey;
}
form ul li{
    float: right;
}
.sahem3{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}
.sahem4{
    text-align: right;
    border-radius: 15px;
    border: 1px solid rgb(180, 216, 201);
    height: 40px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom:20px ;
    width: 100%;
    padding-right: 20px;
}
.sahem5{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width:250px ;
}
.sahem5 img{
    
    padding-top: 46px;
}
.sahem3 button{
    background-color: #00A859;
    color: white;
    border-radius: 15px;
    width: 121px;
    height: 39px;
    text-align: center;
    margin-top: 11px;
    margin-bottom: 11px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    transition: all 0.7s ease-in-out;
}
.sahem3 button:hover{
    background-color: white;
    color: #00A859;
    border: 1px solid #00A859;
}
.hesaby{
    border: 1px solid  rgb(180, 216, 201) ;
    border-radius: 15px;
    height: 500px;
    width: 250px;
}
.hesaby ul{
    list-style-type: none;
    padding-right: 74px;
    color: grey;
}
.hesaby ul li{
    float: right;
}
.hesaby ul h5{
    font-size: 14px;
    padding-top: 5px;
}
.hesaby h3{
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    color: #00A859;
    padding-right: -3px;
    padding-top: 20px;
}
.hesaby p{
    text-align: right;
    font-weight: bold;
    font-size: 18px;
    padding-right: 20px;
    color: #00A859;
}
.hesaby a{
    text-decoration: none;
}

@media screen and (max-width:500px){
    .hesaby ul{
        width: 55%;
        text-align: center;
        
    }
    .hesaby{
        
        width: 230px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
        text-align: center;
        margin-bottom: 20px;
    }
    .sahem3{
        width: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .sahem3 form{
        width:230px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
       
    }
    .sahem3 form input{
        width: 221px;
        margin-left: -47px;
    }
    .hesaby{
        margin-left: auto;
        margin-right: auto;
    }
    .hesaby p{
        font-size: 18px;
    }
    .hesaby h3{
        font-size: 20px;
    }
    .hesaby ul h5 {
        font-size: 11px;
        padding-top: 9px;
    }
    ul{
        position: absolute;
    }
    ul li{
        float: right;
    }
    ul li h5{
        padding-top: 6px;
        margin-left: 5px;
        margin-bottom: 15px;
        font-size: 12px;
    }
    .sahem3 button{
        margin-top: 50px;
    }
    .sahem5{
        width: 230px;
        text-align: center;
        margin-right: auto;
        margin: auto;
        margin-left: auto;
    }
    .sahem5 img {
        padding-top: 46px;
        margin-left:auto;
        margin-right: auto;
    } 
}

/* @media screen and (min-width:458) and (max-width:577px){
    .hesaby ul{
        padding-right: 15px;
        text-align: center;
        
    }
    .hesaby{
        margin-left: 71px;
        margin-right: 120px;
        width: 70%;
        margin-bottom: 20px;
    }
    .sahem3 form{
        width:52%;
        margin-right: 294px;
        margin-left: 0px;
    }
    .sahem3 form input{
        width: 144%;
        margin-left: -47px;
    }
    .hesaby p{
        font-size: 18px;
    }
    .hesaby h3{
        font-size: 20px;
    }
    .hesaby ul h5 {
        font-size: 11px;
        padding-top: 9px;
    }
    .sahem5{
        width: 70%;
    }
    .sahem5 img {
        padding-top: 46px;
    }
} 
@media screen and (min-width:578px) and (max-width:600px){
    .hesaby ul{
        padding-right: 15px;
        text-align: center;
        
    }
    .hesaby{
        margin-left: 0px;
        margin-right: 120px;
        width: 77%;
    }
    .sahem3 form{
        margin-right: 374px;
        margin-left: 0px;
    }
    .sahem3 form input{
        width: 218px;
        margin-left: -47px;
    }
    .hesaby p{
        font-size: 12px;
    }
    .hesaby h3{
        font-size: 14px;
    }
    .hesaby ul h5 {
        font-size: 8px;
        padding-top: 9px;
    }
    .sahem5 img {
        padding-left: 25px;
        padding-top: 46px;
    }
} 
@media screen and (min-width:601px) and (max-width:767px){
    .hesaby ul{
        padding-right: 15px;
        text-align: center;
        
    }
    .hesaby{
        margin-left: 0px;
        margin-right: 120px;
        width: 77%;
    }
    .sahem3 form{
        margin-right: 374px;
        margin-left: 0px;
    }
    .sahem3 form input{
        width: 218px;
        margin-left: -47px;
    }
    
    .hesaby p{
        font-size: 12px;
    }
    .hesaby h3{
        font-size: 14px;
    }
    .hesaby ul h5 {
        font-size: 8px;
        padding-top: 9px;
    }
    .sahem5 img {
        padding-left: 25px;
        padding-top: 46px;
    }
}  
@media screen and (min-width:768px) and (max-width:991px){
    .hesaby ul{
        padding-right: 15px;
        text-align: center;
        
    }
    .hesaby{
        margin-left: 0px;
        margin-right: 120px;
        width: 90%;
    }
    .sahem3 form{
        margin-right: 210px;
    }
    .sahem3 form input{
        width: 366px;
        margin-left: -39px;
    }
    
} */
@media screen and (min-width:992px) and (max-width:1200px){
    .hesaby{
        margin-left: 0px;
        margin-right: 120px;
        width: 90%;
    }
    .sahem3 form{
        margin-right: 50px;
    }
    .sahem3 form input{
        width: 478px;
    }
} 


@media screen and (min-width:501px) and (max-width:767px){
    .hesaby ul{
        padding-right: 15px;
        text-align: center;
        
    }
    .hesaby{
        margin-left: auto;
        margin-right: auto;
        width: 400px;
        margin-bottom: 40px;
    }
    .sahem3{
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    .sahem2{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .sahem3 form{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 400px;
    }
    .sahem3 form input{
        width: 392px;
        margin-left: -47px;
    }
    .sahem3 button{
        margin-left: auto;
        margin-right: auto;
    }
    .hesaby p{
        font-size: 17px;
    }
    .hesaby h3{
        font-size: 17px;
    }
    .hesaby ul h5 {
        font-size: 12px;
        padding-top: 9px;
    }
    .sahem5{
        width: 400px;
        text-align: center;
    }
    .sahem5 img {
        padding-top: 46px;
    }
}  

@media screen and (min-width:768px) and (max-width:991px){
    .hesaby ul{
        padding-right: 15px;
        text-align: center;
        
    }
    .hesaby{
        /* margin-right: 20px; */
        width:242px;
    }
    .sahem3 form{
        margin-right: 210px;
    }
    .sahem3 form input{
        width: 366px;
        margin-left: -39px;
    }
    .sahem3 button{
        margin-left: auto;
        margin-right: auto;
    }
    .sahem5{
        text-align: center;

    }
    .sahem5 img {
        padding-top: 46px;
    }
}
@media screen and (min-width:992px) and (max-width:1200px){
    .hesaby{
        margin-right: auto;
        margin-left: auto;
        width: 90%;
    }
    .hesaby ul h5{
        padding-top: 6px;
    }
    .sahem3 form{
        /* margin-right: 50px; */
        margin-left: auto;
        margin-right: auto;
    }
    .sahem3 form input{
        width: 478px;
        margin-left: auto;
        margin-right: auto;
    }
    .sahem5{
        text-align: center;
        width: 260px;
    }
    .sahem5 img {
        padding-top: 46px;
    }
} 

.footer{
    background-color: #00A859;
    color: white;
}
.footer .number1{
    text-align: right;
    margin-top: 45px;
    margin-right: 42px;
}
.footer .number1 p{
    padding-top: 10px;
    font-weight: bold;
    font-size: 25px;
}
.footer .number1 img{
    width: 30px;
    height: 30px;
}

.footer .number1 .media p{
    text-align: right;
    font-size: 17px;
    padding-bottom: 2px;
    padding-right: 10px;
}
.footer .number2{
    text-align: center;
}

.footer .number2 .image1{
    margin-top: 10px;
    margin-left: 7px;
    background: transparent;
}
.footer .number2 .image2{
    margin-left: 16px;
}
.footer .number2 p{
    font-weight: 12px;
}
.footer .number2 .image3{ 
    margin-left: 6px;
}
.footer .number2 ul{
    list-style: none;
    position: absolute;
    margin-left: 26%;
}
.footer .number2 ul li{
    float: left;
    
}
.footer .number3{
    text-align: right;
    margin-right: 102px;
    margin-top: 50px;
    
}
.footer .number3 a{
    color: white;
    text-decoration-line: none;
    
}

.footer .number3 h4{
    font-size: 15px;
    padding-top: 10px;
    transition: all 0.6s ease-in-out;
}
.footer .number3 h4:hover{
    font-weight: bold;
    transform: scaleY(1.4);
}
.footer2{
    text-align: center;
    border:1px solid white;
    margin-top: 40px;
    padding-top: 15px;
}

@media screen and (max-width:399px){
    .footer .number1{
        order:2;
        margin-left: 5%;
    }
    .footer .number2 .image1{
        margin-left: 35%;
        margin-bottom: 15px;
    }
    .footer .number2 p{
        text-align: right;
        margin-right: 8%;
    }
    .footer .number2 ul{
        right: 10%;
        margin-right: 0px;
        
    }
    .footer .number2 ul li{
        bottom: 35px;
    }
    .footer .number3{
        order: 1;
        text-align: right;
        margin-right: 8%;
    } 
}
@media screen and (min-width:400px) and (max-width:766px){
    .footer .number1{
        order:2;
        margin-left: 5%;
    }
    .footer .number2 .image1{
        margin-left: 50%;
        margin-bottom: 15px;
    }
    .footer .number2 p{
        text-align: right;
        margin-right: 8%;
    }
    .footer .number2 ul{
        right: 10%;
        margin-right: 0px;
        
    }
    .footer .number2 ul li{
        bottom: 35px;
    }
    .footer .number3{
        order: 1;
        text-align: right;
        margin-right: 8%;
    }
}
@media screen and (min-width:767px) and (max-width:990px){
    
    .footer .number1{
        order:2;
        margin-right: 7%;
    }
    .footer .number3{
        margin-top: 70px;
    }
    .footer .number2 .image1{
        margin-left: 59%;
        margin-bottom: 15px;
    }
    .footer .number2 p{
        text-align: right;
        margin-right: 8%;
    }
    .footer .number2 ul{
        
        margin-left: 72%;
        margin-bottom: 25px;
        
    }
    .footer .number2 ul li{
        bottom: 35px;
    }
    .footer .number3{
        order: 1;
        text-align: right;
        margin-right: 8%;
    }

} 